body {
    height: 100vh;
}

.navbar {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #cb3737;
    font-size: 1.5rem;
}

.active {
    text-decoration: underline !important;
}

@media (max-width: 1000px) {
    .navbar {
        font-size: 1.25rem;
    }    
    #search-input {
        font-size: 1rem !important;
    }
}

@media (min-width: 1400px) {
    .navbar {
        font-size: 1.6rem;
    }    
}

.icon-uwu {
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.navbar-uni {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.search-bar-navbar {
    justify-content: center;
    display: flex;
    padding: 0 !important;
    flex-grow: 0.4;
}

@media (max-width: 1250px) {
    .search-bar-navbar {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
}

@media (max-width: 1000px) {
    .search-bar-navbar {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media (min-width: 1250px) {
    .search-bar-navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.search-bar-navbar-content {
    background-color: rgba(255, 255, 255, 0.919);
    border: solid 2px rgba(255, 255, 255, 1) !important;
    border-radius: 4px;
}

.search-logo-navbar {
    color: rgb(195, 195, 195) !important;
    min-width: unset !important;
    padding: 6px !important;
}

@media (hover: hover) {
    .search-logo-navbar:hover {
        background-color: rgba(0, 4, 26, 0.03);
    }
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border: solid 2px white;
    border-radius: 5px;
    width: 100%;
    background-color: #FAFAFA;
    justify-content: space-between;
}

.search-input-navbar {
    border: none !important;
}

button span {
    margin: 0 !important;
}

div ::before, ::after  {
    border: none !important
}

.navbar-link {
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 500;
    color: #F9F9F9;
}

.navbar-item {
    margin-left: 5px;
    margin-right: 5px;
}


.sales-bin {
    background-color: red;
    width: 50px;
    height: 50px;
}

#search-input {
    font-size: 1.25rem;
}